<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Tradutor PT-EN</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="containers">
            <form action="{{ url_for('homepage') }}" method="post">
                <div class="container-input">
                    <label>Escreva um texto para traduzir</label>
                    <br>
                    <textarea type="text" name="input-text" cols="20" rows="20">{{ input }}</textarea>
                    <br>
                    <button type="button" onclick="gravar()" class="btn-micro"><i class='bx bxs-microphone'></i></button>
                </div>
                <div class="container-button">
                    <button class="btn-translate" type="submit">Traduzir</button>
                </div>
            </form>
            <div class="container-output">
                <label>Seu texto traduzido</label>
                <br>
                <textarea name="output-text" cols="20" rows="20">{{ output }}</textarea>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/script.js"></script>
</html>